html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#avion{
    background-color: #00d0ff;
    text-align: center;  
}
.card{
    background-color: #00d0ff;
}
footer{
    background-color: #00d0ff;
    
}
.btn{
    background-color: #00d0ff;
}
#vinculitos{
    color: white;
}